@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@800&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;1,600&family=Kumbh+Sans:wght@200;300;400;700&family=League+Spartan:wght@200;300;500;700&family=Manrope:wght@200;300;400;500;600;700&family=Nunito+Sans:wght@200;300;400;600;700&family=Outfit:wght@200;300;400;500;600;700&family=Peralta&family=Poppins:wght@200;300;400;500;600&family=Prompt:wght@100;200;300;400;500;600;700&family=Rajdhani:wght@300;400;500;700&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@400;500;700&family=Sen:wght@400;700&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@400;500;700&family=Ysabeau+Infant:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap');

/* Small */
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width:992px) {
  .container {
    width: 950px;
  }
}

/* Large */
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

@font-face {
  font-family: 'Quranic';
  src: url(../../public/assets/Hafs.ttf) format('truetype');
  /* Adjust the path and format based on your font file */
}

.quranic-text {
  font-family: 'Quranic', sans-serif;
}

.rtl {
  direction: rtl;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
}

.large-screen {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.small-screen {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: .8rem;
  width: 250px;
  font-weight: normal !important;
}

.active {
  color: #028478;
  font-weight: bold;
  background-color: #d9edeb;
}

input:focus,
select:focus {
  outline: none;
}

.scrollbar {
  scrollbar-width: thin;
}

.welcome {
  background-image: url(../../public/assets/welcome);
  background-size: cover;
  object-fit: cover;
}

input::placeholder {
  font-weight: bold;
}

.play-surah {
  transition: .5s;
}

.hide {
  bottom: -500px !important;
}